#div_container_contact_contente {
    max-width: 500px
}

#item_message_to_user {
    margin-top: 50px;
    text-align: center;
}

#send_email_button {
    font-size: 16px;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow, transform;
    background: radial-gradient(100% 100% at 100% 0%, #6485f1 0%, #3c4fe0 100%);
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
    padding: 0 2em;
    border-radius: 0.3em;
    color: #fff;
    height: 2.6em;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease, transform 0.15s ease;
}

#send_email_button:hover {
    box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
    transform: translateY(-0.1em);
}

#send_email_button:active {
    box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
    transform: translateY(0em);
}

#form_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.w3-card-4 {

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

}

.scale-up-tl {
    -webkit-animation: scale-up-tl 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-tl 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

textarea {
    resize: inherit;
}

.mb-3 {
    width: 80%;
}

@-webkit-keyframes scale-up-tl {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
}

@keyframes scale-up-tl {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
}

.slide-fwd-top {
    -webkit-animation: slide-fwd-top 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-fwd-top 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-fwd-top {
    0% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
    }

    100% {
        -webkit-transform: translateZ(10px) translateY(-25px);
        transform: translateZ(10px) translateY(-25px);
        -moz-transform: translateZ(10px) translateY(-25px);
        -ms-transform: translateZ(10px) translateY(-25px);
        -o-transform: translateZ(10px) translateY(-25px);
    }
}

@keyframes slide-fwd-top {
    0% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
    }

    100% {
        -webkit-transform: translateZ(10px) translateY(-25px);
        transform: translateZ(10px) translateY(-25px);
        -moz-transform: translateZ(10px) translateY(-25px);
        -ms-transform: translateZ(10px) translateY(-25px);
        -o-transform: translateZ(10px) translateY(-25px);
    }
}

@media (max-width: 575.98px) {}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (min-width: 575.99px) and (max-width: 767.98px) {}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (min-width: 767.99px) and (max-width: 991.98px) {}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (min-width: 1199.98px) and (max-width: 1399.98px) {}