.whatsApp {
    /* Safari */
    position: -webkit-sticky;
    position: sticky;
    height: 60px;
    bottom: 30px;
    right: 4px;
    left: 8000px;
}

.whatsApp_img {
    height: 125px;
    width: 125px;
}


#navbar_head {
    background-color: #1D4A79;
    border-radius: 6px;
    border-color: 2px solid #95969bce;
    -webkit-box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;

}

.nav-link {
    color: white;
}

#container_menu_footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-template-columns: auto auto auto;
    color: white;
}

#copy_ryght {
    color: white;
}

p {
    display: inline;
    text-shadow: 0.5px 0.10px black;
}

h1,
h2,
h3 {
    font-family: "Ikaros";

    font-size: 3rem;
}

p {
    font-size: 1.2rem;
}


.p_endereco {
    font-size: 15px;
    color: white;
}

#social_midia_icone_group {
    display: flex;
    align-items: end;
    justify-content: center;
}



.button_footer {
    margin-top: 6px;
    width: 100%;
    padding: 0.8em 1em;
    border: 2px solid #eead2d;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #eead2d;

}

.button_footer::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #eead2d;
    transition: .5s ease;
    display: block;
    z-index: -1;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -moz-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    -o-transform: translate(-50%, -50%) rotate(45deg);
}

.button_footer:hover::before {
    width: 105%;
}

.button_footer:hover {
    color: #111;
}


.footer__layout {
    justify-content: space-between;
    margin: auto;

    /* Gradiente */
    background: rgba(15, 66, 112, 1);
    background: -moz-linear-gradient(top, rgba(15, 66, 112, 1) 1%, rgba(29, 74, 121, 1) 26%, rgba(29, 74, 121, 1) 49%, rgba(29, 69, 112, 1) 54%, rgba(27, 50, 80, 1) 72%, rgba(22, 36, 55, 1) 91%, rgba(20, 28, 42, 1) 96%, rgba(20, 28, 42, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(1%, rgba(15, 66, 112, 1)), color-stop(26%, rgba(29, 74, 121, 1)), color-stop(49%, rgba(29, 74, 121, 1)), color-stop(54%, rgba(29, 69, 112, 1)), color-stop(72%, rgba(27, 50, 80, 1)), color-stop(91%, rgba(22, 36, 55, 1)), color-stop(96%, rgba(20, 28, 42, 1)), color-stop(100%, rgba(20, 28, 42, 1)));
    background: -webkit-linear-gradient(top, rgba(15, 66, 112, 1) 1%, rgba(29, 74, 121, 1) 26%, rgba(29, 74, 121, 1) 49%, rgba(29, 69, 112, 1) 54%, rgba(27, 50, 80, 1) 72%, rgba(22, 36, 55, 1) 91%, rgba(20, 28, 42, 1) 96%, rgba(20, 28, 42, 1) 100%);
    background: -o-linear-gradient(top, rgba(15, 66, 112, 1) 1%, rgba(29, 74, 121, 1) 26%, rgba(29, 74, 121, 1) 49%, rgba(29, 69, 112, 1) 54%, rgba(27, 50, 80, 1) 72%, rgba(22, 36, 55, 1) 91%, rgba(20, 28, 42, 1) 96%, rgba(20, 28, 42, 1) 100%);
    background: -ms-linear-gradient(top, rgba(15, 66, 112, 1) 1%, rgba(29, 74, 121, 1) 26%, rgba(29, 74, 121, 1) 49%, rgba(29, 69, 112, 1) 54%, rgba(27, 50, 80, 1) 72%, rgba(22, 36, 55, 1) 91%, rgba(20, 28, 42, 1) 96%, rgba(20, 28, 42, 1) 100%);
    background: linear-gradient(to bottom, rgba(15, 66, 112, 1) 1%, rgba(29, 74, 121, 1) 26%, rgba(29, 74, 121, 1) 49%, rgba(29, 69, 112, 1) 54%, rgba(27, 50, 80, 1) 72%, rgba(22, 36, 55, 1) 91%, rgba(20, 28, 42, 1) 96%, rgba(20, 28, 42, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f4270', endColorstr='#141c2a', GradientType=0);
}

.div__footer__layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

}

a {
    list-style-type: none;

}

#ul_footer {
    margin-bottom: -1px;
    margin-top: 10px;
    margin-right: 15px;
}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #container_menu_footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }


}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    #container_menu_footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;

    }
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}